<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project0603.share00">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.project0603.share00.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.project0603.share00.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.project0603.share00.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project0603.share00.SignupActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.project0603.share00.UserInfoEditActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.project0603.share00.ChatListActivity" />
        <activity android:name="com.project0603.share00.ChatActivity" />
        <activity
            android:name="com.project0603.share00.SigninActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.project0603.share00.ContentDetailActivity" />
        <activity
            android:name="com.project0603.share00.BbsWriteActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- GCM 리시버 -->
        <receiver
            android:name="com.project0603.share00.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.project0603.share00" />
            </intent-filter>
        </receiver>
        <!-- GCM 서비스 -->
        <service android:name="com.project0603.share00.GCMIntentService" />

        <activity
            android:name="com.project0603.share00.PictureDetailViewActivity"
            android:theme="@style/Theme.AppCompat.Transparent" />
        <activity
            android:name="com.project0603.share00.BbsDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.project0603.share00.NoticeActivity"></activity>
    </application>

</manifest>